<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        <p> <a href="{% url 'learning_logs:index' %}">Learning Log</a> </p>
        <p> <a href="{% url 'learning_logs:topics' %}">Topics</a> </p>
        {% if user.is_authenticated %}
            <p> hello, {{ user.username }}</p>
            <p> <a href="{% url 'users:logout' %}">Log out</a> </p>          
        {% else %}
            <p> <a href="{% url 'users:login' %}">Log in</a> </p>
        {% endif %}
        <p><a href="{% url 'users:register' %}">Register</a></p>
    </p>
    {% block content %}{% endblock content %}
</body>
</html>