<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'blogpost:index' %}">Mohamed Abo Raia Blog</a>
    {% if user.is_authenticated %}
        <p>Welcome back, {{user.username}} </p>
        <p> <a href="{% url 'users:logout' %}"> Logout </a> </p>
    {% else %}
        <p> <a href="{% url 'users:register' %}"> Sign up</a> </p>
        <p> <a href="{% url 'users:login' %}"> Login</a> </p>
    {% endif %}
    {% block content %} {% endblock content%}

</body>
</html>